
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="RPi Radio">
    <meta name="author" content="Sander Van Schoote">
    <link rel="icon" href="img/favicon.ico">
    <link rel="apple-touch-icon" href="img/favicon.png">
    <title>RPi Radio</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/album.css" rel="stylesheet">
  </head>

  <body>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h3 id="nowplaying" class="jumbotron-heading">RPi Radio</h3>
        </div>
      </section>
      
      <div class="album text-muted">
        <div class="container">
            <div class="row">
              <div class="text-center">
                <div class="controls">
                  <img id="controls-volumedown" src="img/volume-down-indicator.svg" alt="Volume down" class="img-fluid">
                </div>
                <div class="controls">
                  <img id="controls-play-stop" src="img/play.svg" alt="Play" class="img-fluid">
                </div>
                <div class="controls">
                  <img id="controls-volumeup" src="img/volume-up-indicator.svg" alt="Volume up" class="img-fluid">
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="album text-muted">
        <div class="container">
          <div class="row">
            <% if (stations) { %>
              <% for(var i=0; i < stations.length; i++) { %>
                <div class="card" data-url="<%= stations[i].url %>">
                  <img src="<%= stations[i].img %>" alt="<%= stations[i].title %>" class="img-fluid">
                  <p class="card-text"><%= stations[i].title %></p>
                </div>
              <% } %>
            <% } %>
          </div>

        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>RPi Radio is made by <a href="http://github.com/svanscho">Sander Van Schoote</a></p>
      </div>
    </footer>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/controls.js"></script>


  </body>
</html>
